#{extends 'formulario.html' /}
#{set title:'Vedor' /}

<meta charset="UTF-8">

<form class="form-signin" action="@{Logins.login}" method="POST">
	<h2 class="form-signin-heading"><img src="@{'/public/images/logotipo.png'}"></img></h2>
    <div class="login-wrap">
    	<div class="user-login-info">
        	<input type="text" class="form-control" name="operador.email" value="${email}" placeholder="Email" required>
        	<input type="password" class="form-control" name="operador.senha" placeholder="Senha" required>
        </div>
		<label class="checkbox">
        	<input type="checkbox" value="remember-me"> Lembrar-me
        	<span class="pull-right">
        		<a data-toggle="modal" href="#myModal"> Esqueceu sua senha?</a>
			</span>
		</label>
        <button class="btn btn-lg btn-login btn-block" type="submit">Entrar</button>

		<div class="registration">
            <a href="@{Operadores.cadastro}">Criar uma conta</a>
		</div>
	</div>
</form>